### Частина друга: Аналіз файлів

Проведіть аналіз файлу 2017_jun_final.csv. Файл містить результати опитування розробників у червні 2017 року.

In [19]:
import pandas as pd

- **Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv**

In [20]:
df = pd.read_csv('./2017_jun_final.csv')

- **Прочитайте отриману таблицю, використовуючи метод head**

In [21]:
df.head(3)

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV

- **Визначте розмір таблиці за допомогою методу shape**

In [22]:
df.shape

(8704, 25)

- **Визначте типи всіх стовпців за допомогою dataframe.dtypes**

In [23]:
df.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

- **Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)**

In [24]:
((df.isnull().sum()/df['Должность'].shape) * 100).round(3)

N                                    0.000
Должность                            0.000
Язык.программирования               44.233
Специализация                       82.939
Общий.опыт.работы                    0.000
Опыт.работы.на.текущем.месте         0.000
Зарплата.в.месяц                     0.000
Изменение.зарплаты.за.12.месяцев     0.000
Город                                0.000
Размер.компании                      0.000
Тип.компании                         0.000
Пол                                  0.000
Возраст                              0.000
Образование                          0.000
Университет                          4.113
Еще.студент                          0.000
Уровень.английского                  0.000
Предметная.область                   2.562
Дата.заполнения                      0.000
User.Agent                           0.000
exp                                  0.000
current_job_exp                      0.000
salary                               0.000
Валюта                              99.885
cls                                 18.084
dtype: float64

- **Видаліть усі стовпці з пропусками, крім стовпця Язык.программирования**

In [25]:
for col in df.columns:
    if col != 'Язык.программирования' and df[col].isnull().sum() != 0:
        df = df.drop([f'{col}'], axis=1)
df.shape

(8704, 20)

- **Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"**

In [26]:
print(df.shape)
print('Язык.программирования' in df.columns)

(8704, 20)
True

- **Видаліть усі рядки у вихідній таблиці за допомогою методу dropna**

In [27]:
df = df.dropna()

- **Визначте новий розмір таблиці за допомогою методу shape**

In [28]:
df.shape

(4854, 20)

- **Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python**

In [29]:
python_data = df[df['Язык.программирования'] == 'Python']
python_data.head(3)

,N,Должность,Язык.программирования,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
12,13,Software Engineer,Python,1,меньше 3 месяцев,800,200,Киев,до 50 человек,Аутсорсинговая,мужской,26,Высшее,False,ниже среднего,12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800
68,69,Software Engineer,Python,1.5,0.5,900,900,Киев,до 10 человек,Стартап,мужской,21,Незаконченное высшее,True,выше среднего,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900
87,88,Junior Software Engineer,Python,0.5,0.5,600,0,Киев,до 10 человек,Аутсорсинговая,мужской,19,Незаконченное высшее,True,выше среднего,12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600

- **Визначте розмір таблиці python_data за допомогою методу shape**

In [30]:
python_data.shape

(207, 20)

- **Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"**

In [31]:
df_group = python_data.groupby('Должность')

- **Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"**

In [32]:
df_pos = python_data.groupby('Должность').agg({'Зарплата.в.месяц': ['min', 'max']})
df_pos

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

- **Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"**

In [33]:
def fill_avg_salary(salary):
  return salary.mean()

In [34]:
avg = df.groupby('Должность').agg('Зарплата.в.месяц').apply(fill_avg_salary).round(2)
df_pos['avg'] = avg
df_pos

                         Зарплата.в.месяц            avg
                                      min   max
Должность
Junior Software Engineer              100  1250   605.66
Senior Software Engineer             1300  9200  3243.20
Software Engineer                     500  5400  1678.63
System Architect                     3000  5000  4387.08
Technical Lead                       1425  6200  3664.27

- **Створіть описову статистику за допомогою методу describe для нового стовпчика.**

In [35]:
df_pos['avg'].describe()

count       5.000000
mean     2715.768000
std      1541.049591
min       605.660000
25%      1678.630000
50%      3243.200000
75%      3664.270000
max      4387.080000
Name: avg, dtype: float64

- **Збережіть отриману таблицю в CSV файл**

In [36]:
df_pos.to_csv('./average_salary_py_dev_in_2017.csv')